@use "../../../../styles/" as *;

.syllabus-1 {
  @include flex(flex-start, unset, row);
  gap: 10px;
  width: 1004px;
  height: 96px;
  margin-bottom: 20px;

  .syllabus {
    @include flex(flex-start, center, column);
    padding: 20px 30px;
    gap: 10px;
    width: 960px;
    height: 96px;
    background: $white;
    box-shadow: $box-shadow;
    border-radius: 20px;

    &:hover,
    &:active {
      background: #f1f1f1;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }

    .program-name {
      @include flex(flex-start, unset, row);
      padding: 0 30px 0 0;
      gap: 10px;
      height: 29px;

      p {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.2em;
        color: $default-color;
      }
    }

    .syllabus-meta {
      @include flex(flex-start, unset, row);
      gap: 10px;
      height: 17px;
      color: $text-meta-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .remove-buton {
    @include flex(flex-start, center, column);
    padding: 15px 5px;
    gap: 10px;
    width: 34px;
    height: 96px;
    cursor: pointer;
    background: #e74a3b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      -4px -4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;
  }
}
