body {
  padding-right: 0px !important;
  overflow: auto !important;
}

.syllabus-header {
  height: 59px;
  width: 100%;
  padding: 15px 30px;
  border-bottom: 1px solid #2d3748;
  h2 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.2em;
    color: #2d3748;
  }
}

.inner {
  margin-bottom: 50px;
}

.pagination-wrapper {
  margin-top: 54px;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
  background: none;
}
